.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/images/
/_book/
/chapters/how-to-code_files/libs/bootstrap
/chapters/how-to-code_files/libs/clipboard
/chapters/how-to-code_files/libs/quarto-html
chapters/10-rules-brainstorm.html
chapters/10-rules-brainstorm.html
chapters/10-rules-brainstorm.html
